@import '../../assets/global_variables.scss';
.item {
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid $dark-blue;
    border-radius: 3px;
    .item-text {
        padding-bottom: 8px;
        .item-title {
            color: $pink;
        }
        .item-source {
            color: $greyPink;
        }
    }
    
    .comment-icon {
        cursor: pointer;
    }

    .item-score {
        padding-top: 10px;
        i {       
            // position: relative;
            // left: 30%;
            color: $pink;
            cursor: pointer;
        }
        span {
            color: $pink;
        }
    }
    .hide-button {
        cursor: pointer; 
    }
}